<div class="card {{ role }}_card" data-address="{{ person.address }}">
  <div class="card-body">
    <h5 class="card-title"><img src="assets/{{ role }}.png" alt="{{ role }}"><span
            title="{{ person.address }}">{{ person.addressShort }}</span></h5>
    <p class="card-text">
      Ξ <span class="eth-balance-{{ person.address }}">{{ person.ether }}</span>
      <br/>
      <span class="beertoken-balance-{{ person.address }}">{{ person.beertokens }}</span>
      <img src="assets/beer.png" alt="Beer Token"/>
      <br/>
    </p>
  </div>
</div>
